body{
    background-color: lightgoldenrodyellow;
}

.index-body{
    h1{
        color: darkred;
    }
}

.menu-body{
    em{
        font: bold;
        color: green;
        /* border-inline-color: green; */
    }
}

/* .contact-body{

} */