body {
    background-color: lightgoldenrodyellow;
}

nav {
    padding: 10px;
    margin: auto;
}

nav:hover {
    color: black;
    cursor: pointer;
}

.index-body h1 {
        color: darkred;
}

.menu-body em {
        font-weight: bold;
        color: green;
        /* border-inline-color: green; */
}